<?xml version="1.0" encoding="ISO-8859-1"?>

   
<web-app>

	<display-name>Bookstore Application</display-name>
	<description>
		Demo Bookstore application used for AMNESIA.
	</description>

	<context-param>
		<param-name>webmaster</param-name>
		<param-value>myaddress@mycompany.com</param-value>
		<description>
			The EMAIL address of the administrator to whom questions and
			comments about this application should be addressed.
		</description>
	</context-param>

	<session-config>
		<session-timeout>10</session-timeout><!-- 30 minutes -->
	</session-config>

	<servlet>
		<servlet-name>
			org.apache.jsp.EditorialCatRecord_jsp
		</servlet-name>
		<servlet-class>
			org.apache.jsp.EditorialCatRecord_jsp
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.EditorialsRecord_jsp</servlet-name>
		<servlet-class>
			org.apache.jsp.EditorialsRecord_jsp
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.MembersRecord_jsp</servlet-name>
		<servlet-class>org.apache.jsp.MembersRecord_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.CategoriesRecord_jsp</servlet-name>
		<servlet-class>
			org.apache.jsp.CategoriesRecord_jsp
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.OrdersRecord_jsp</servlet-name>
		<servlet-class>org.apache.jsp.OrdersRecord_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.CategoriesGrid_jsp</servlet-name>
		<servlet-class>org.apache.jsp.CategoriesGrid_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.BookDetail_jsp</servlet-name>
		<servlet-class>org.apache.jsp.BookDetail_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.Registration_jsp</servlet-name>
		<servlet-class>org.apache.jsp.Registration_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.MyInfo_jsp</servlet-name>
		<servlet-class>org.apache.jsp.MyInfo_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.MembersInfo_jsp</servlet-name>
		<servlet-class>org.apache.jsp.MembersInfo_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.AdvSearch_jsp</servlet-name>
		<servlet-class>org.apache.jsp.AdvSearch_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.EditorialsGrid_jsp</servlet-name>
		<servlet-class>org.apache.jsp.EditorialsGrid_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.Books_jsp</servlet-name>
		<servlet-class>org.apache.jsp.Books_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.ShoppingCart_jsp</servlet-name>
		<servlet-class>org.apache.jsp.ShoppingCart_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.CardTypesRecord_jsp</servlet-name>
		<servlet-class>
			org.apache.jsp.CardTypesRecord_jsp
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.Footer_jsp</servlet-name>
		<servlet-class>org.apache.jsp.Footer_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.AdminBooks_jsp</servlet-name>
		<servlet-class>org.apache.jsp.AdminBooks_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.AdminMenu_jsp</servlet-name>
		<servlet-class>org.apache.jsp.AdminMenu_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.Header_jsp</servlet-name>
		<servlet-class>org.apache.jsp.Header_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.Common_jsp</servlet-name>
		<servlet-class>org.apache.jsp.Common_jsp</servlet-class>
	</servlet>

<servlet>
        <servlet-name>org.apache.jsp.AdminServlet_jsp</servlet-name>
        <servlet-class>org.apache.jsp.AdminServlet_jsp</servlet-class>
    </servlet>

  <servlet-mapping>
        <servlet-name>org.apache.jsp.AdminServlet_jsp</servlet-name>
        <url-pattern>/AdminServlet.jsp</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>org.apache.jsp.MembersGrid_jsp</servlet-name>
		<servlet-class>org.apache.jsp.MembersGrid_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.Default_jsp</servlet-name>
		<servlet-class>org.apache.jsp.Default_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>
			org.apache.jsp.ShoppingCartRecord_jsp
		</servlet-name>
		<servlet-class>
			org.apache.jsp.ShoppingCartRecord_jsp
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.CardTypesGrid_jsp</servlet-name>
		<servlet-class>org.apache.jsp.CardTypesGrid_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.BookMaint_jsp</servlet-name>
		<servlet-class>org.apache.jsp.BookMaint_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.OrdersGrid_jsp</servlet-name>
		<servlet-class>org.apache.jsp.OrdersGrid_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.Login_jsp</servlet-name>
		<servlet-class>org.apache.jsp.Login_jsp</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>org.apache.jsp.EditorialCatGrid_jsp</servlet-name>
		<servlet-class>
			org.apache.jsp.EditorialCatGrid_jsp
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>
			org.apache.jsp.EditorialCatRecord_jsp
		</servlet-name>
		<url-pattern>/EditorialCatRecord.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.EditorialsRecord_jsp</servlet-name>
		<url-pattern>/EditorialsRecord.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.MembersRecord_jsp</servlet-name>
		<url-pattern>/MembersRecord.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.CategoriesRecord_jsp</servlet-name>
		<url-pattern>/CategoriesRecord.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.OrdersRecord_jsp</servlet-name>
		<url-pattern>/OrdersRecord.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.CategoriesGrid_jsp</servlet-name>
		<url-pattern>/CategoriesGrid.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.BookDetail_jsp</servlet-name>
		<url-pattern>/BookDetail.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.Registration_jsp</servlet-name>
		<url-pattern>/Registration.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.MyInfo_jsp</servlet-name>
		<url-pattern>/MyInfo.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.MembersInfo_jsp</servlet-name>
		<url-pattern>/MembersInfo.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.AdvSearch_jsp</servlet-name>
		<url-pattern>/AdvSearch.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.EditorialsGrid_jsp</servlet-name>
		<url-pattern>/EditorialsGrid.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.Books_jsp</servlet-name>
		<url-pattern>/Books.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.ShoppingCart_jsp</servlet-name>
		<url-pattern>/ShoppingCart.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.CardTypesRecord_jsp</servlet-name>
		<url-pattern>/CardTypesRecord.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.Footer_jsp</servlet-name>
		<url-pattern>/Footer.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.AdminBooks_jsp</servlet-name>
		<url-pattern>/AdminBooks.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.AdminMenu_jsp</servlet-name>
		<url-pattern>/AdminMenu.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.Header_jsp</servlet-name>
		<url-pattern>/Header.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.Common_jsp</servlet-name>
		<url-pattern>/Common.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.MembersGrid_jsp</servlet-name>
		<url-pattern>/MembersGrid.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.Default_jsp</servlet-name>
		<url-pattern>/Default.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>
			org.apache.jsp.ShoppingCartRecord_jsp
		</servlet-name>
		<url-pattern>/ShoppingCartRecord.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.CardTypesGrid_jsp</servlet-name>
		<url-pattern>/CardTypesGrid.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.BookMaint_jsp</servlet-name>
		<url-pattern>/BookMaint.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.OrdersGrid_jsp</servlet-name>
		<url-pattern>/OrdersGrid.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.Login_jsp</servlet-name>
		<url-pattern>/Login.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>org.apache.jsp.EditorialCatGrid_jsp</servlet-name>
		<url-pattern>/EditorialCatGrid.jsp</url-pattern>
	</servlet-mapping>


</web-app>
